/*body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

#gameArea{
	width: 100%;
    height: 100%;
    overflow: auto;
}

#gameArea canvas {
    vertical-align: top;
    display: block;
    overflow: hidden;
}

*/

body {
    overflow: hidden;
}

canvas {
    width:100%;
    overflow: hidden;

}