body,html
{
    margin: 0;
    padding: 0;
    color: black;
}

#gameArea{
    overflow: auto;
}

#gameArea canvas {
    vertical-align: top;
    display: block;
}

body {
    overflow: hidden;
}

canvas {
    width:100%;

}

/*canvas {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}*/